{% extends 'partials/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Application approval
{% endblock title %}
{% block extra_css %}
{% endblock %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Update Leave Application</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">
                                        <a href="javascript: void(0);">Leave</a>
                                    </li>
                                    <li class="breadcrumb-item active">Leave Application</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="row mt-4">
                                        <div class="col">
                                            <div class="example-content">
                                                <label class="form-label">User: </label>
                                                {% render_field updateForm.user class="form-select" %}
                                            </div>
                                        </div>
                                        <div class="col"> 
                                            <div class="example-content">
                                                <label class="form-label">Title: </label>
                                                {% render_field updateForm.title class="form-control" %}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="example-content">
                                                <label class="form-label">Leave Date: </label>
                                                {% render_field updateForm.leave_date class="form-control" type="Date" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col">
                                            <div class="example-content">
                                                <label class="form-label">Body: </label>
                                                {% render_field updateForm.body class="form-control" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col">
                                            <div class="example-content">
                                                <label class="form-label">Status: </label>
                                                {% render_field updateForm.status class="form-select" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <button type="submit" class="btn btn-outline-success">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- End Page-content -->
        {% block footer %} {% include 'partials/footer.html' %} {% endblock footer %}
    </div>
    <!-- end main content-->

{% endblock content %} {% block extra_js %}

{% endblock %}
