{% extends 'partials/base.html' %} 
{% load static %} 
{% load widget_tweaks %}
{% block title %}Add Branch{% endblock title %} 
{% block extra_css %} {% endblock%} {% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Onboard New Branch</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item">
                                    <a href="javascript: void(0);">Settings</a>
                                </li>
                                <li class="breadcrumb-item active">Add Branch</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end page title -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="POST" action="{% url 'branch-add' %}">
                                {% csrf_token %}
                                <div class="row mt-4">
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">Select Region</label>
                                            {% render_field branchAddForm.regionName class="form-select" %}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">State Name</label>
                                            {% render_field branchAddForm.stateName class="form-control" %}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">Branch Code</label>
                                            {% render_field branchAddForm.branchCode class="form-control" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">City Name</label>
                                            {% render_field branchAddForm.cityName class="form-control" %}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">Branch Name</label>
                                            {% render_field branchAddForm.branchName class="form-control" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">Branch Address 1</label>
                                            {% render_field branchAddForm.branchAddress1 class="form-control" %}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">Branch Address 2</label>
                                            {% render_field branchAddForm.branchAddress2 class="form-control" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">Branch Phone No.</label>
                                            {% render_field branchAddForm.branchNumber class="form-control" %}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">Zip Code</label>
                                            {% render_field branchAddForm.zip_code class="form-control" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">Latitude</label>
                                            {% render_field branchAddForm.latitude class="form-control" readonly=true %}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">Longitude</label>
                                            {% render_field branchAddForm.longitude class="form-control" readonly=true %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <button class="btn btn-outline-success">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- End Page-content -->
    {% block footer %} {% include 'partials/footer.html' %} {% endblock footer %}
</div>
<!-- end main content-->

{% endblock content %} {% block extra_js %} {% endblock %}
