{% extends 'partials/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Add Utility Inventory
{% endblock title %}
{% block extra_css %}
{% endblock %} 
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Add Utility Inventory</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item">
                                    <a href="javascript: void(0);">Inventory</a>
                                </li>
                                <li class="breadcrumb-item active">Utility</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="POST" action="{% url 'utilityInventoryAdd' %}">
                                {% csrf_token %}
                                <div class="row mt-4">
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">Select Branch</label>
                                            {% render_field utilityAddForm.select_branch class="form-select" %}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">Product Name</label>
                                            {% render_field utilityAddForm.product_name class="form-control" %}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">Unique Name</label>
                                            {% render_field utilityAddForm.slug class="form-control" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">Quantity</label>
                                            {% render_field utilityAddForm.quantity class="form-control" %}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">Reserved Quantity</label>
                                            {% render_field utilityAddForm.reserved_qt class="form-control" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">Maximum Quantity</label>
                                            {% render_field utilityAddForm.max_quantity class="form-control" %}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="example-content">
                                            <label class="form-label">Description</label>
                                            {% render_field utilityAddForm.description class="form-control" %}
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="row mt-4">
                                    <button class="btn btn-outline-success">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- End Page-content -->
    {% block footer %} {% include 'partials/footer.html' %} {% endblock footer %}
</div>
<!-- end main content-->

{% endblock content %} {% block extra_js %}
{% endblock %}
